SampleWinApp/Connected Services/mySelfHostingService/SelfHostingWcfApp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SelfHostingWcfApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SelfHostingWcfApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillAmount" type="xs:double" />
      <xs:element minOccurs="0" name="ContactNo" type="xs:long" />
      <xs:element minOccurs="0" name="DateOfVisit" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PatientID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="ArrayOfPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatient" nillable="true" type="tns:ArrayOfPatient" />
</xs:schema>